/* Text Resize Large */
/* "rebuilt in animation.js"
@-webkit-keyframes textResizeLarge {
	from	{font-size: 80px;}
	to      {font-size: 140px;}
}

@-moz-keyframes textResizeLarge {
	from	{font-size: 80px;}
	to      {font-size: 140px;}
}

@-o-keyframes textResizeLarge {
	from	{font-size: 80px;}
	to      {font-size: 140px;}
}*/

/* Text Resize Large */


/* Text Resize Small */
/*
@-webkit-keyframes textResizeSmall {
	from	{font-size: 140px;}
	to      {font-size: 80px;}
}

@-moz-keyframes textResizeSmall {
	from	{font-size: 140px;}
	to      {font-size: 80px;}
}

@-o-keyframes textResizeSmall {
	from	{font-size: 140px;}
	to      {font-size: 80px;}
}
*/
/* Text Resize Small */