@font-face {
  font-family: 'helveticaNeue';
  src: url(../assets/fonts/HelveticaNeueLTPro-UltLtEx.otf);
}

#textFader {
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 0px;
  @media (max-width: 480px) {
    border-radius: 0px;
    display: inline ;
    width: 32px;
   }
  }
 }

#textFader h1 {
  color: #ffffff;
  display: none;
  font-family:  'helveticaNeue';
  font-size: 140px;
  font-weight: 200;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  letter-spacing: 20px;
  text-align: center;
  @media (min-width: 481px) {
    animation: textResizeLarge linear 0.45s;
  @media (max-width : 480px) {
    font-size: 80px;
    margin: 0px 10px;
    animation: textResizeSmall linear 0.45s;
  }
 }
}

/*----------------------------
  Do Something with this below
  ----------------------------*/

@keyframes textResizeLarge {
  from	{font-size: 80px;}
  to      {font-size: 140px;}
}

@keyframes textResizeSmall {
  from	{font-size: 140px;}
  to      {font-size: 80px;}
}
